.ex-1-square {
  transition: 1s;
}
.ex-1-square:hover {
  background: red;
}


.ex-square-2 {
  transition: 1s;
}

.ex-square-2:active {
  width: 100%;
}


.ex-3-square {
  transition: 0.5s;
}
.ex-3-square:hover {
  border-radius: 100%;
}


.ex-4-square {
  transition: 0,5s;
}
.ex-4-square:hover {
  opacity: 0;
}
